In [4]:
# Imports Library
import numpy as np 
import pandas as pd

In [5]:
#Imports Library for sqlachemy

from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table,Column,Integer,String
import glob
import os
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper

### loading the training data and sqlite

In [6]:
#SQL Alchemy setup

#Create engine that will allow us to communicate with database
engine=create_engine('sqlite:///Table1.sqlite',echo=False)

#Creating session which is the middle ground to talk to our engine
Session=sessionmaker(bind=engine)
session=Session()

#Map which table in database will be related to each class
Base=declarative_base()


#Create a metadata instance
#A metadata is an object container that will store attributes and name of table 
metadata=MetaData(engine)


#Define structure of table
class traning_Table(object):
    
    def __init__(self):
        self.x=x
        self.y1=y1
        self.y2=y2
        self.y3=y3
        self.y4=y4
        
    
    def __repr__(self):
        return f'{self.x,self.y1,self.y2,self.y3,self.y4}'

#Declaring a table
#Defining a function that defines table, we define this function so that we can keep table names dynamic
#That is, we can have multiple tables in database and each table can have a different name
def table_definition(table_name):
     #We want to make table_define available outside function so we declare it as a function attribute
    table_definition.table_define=Table(table_name,metadata,
    Column('id',Integer,primary_key=True),
    Column('x',Integer),
    Column('y1',Integer),
    Column('y2',Integer),
    Column('y3',Integer),
    Column('y4',Integer)
    )
#     okay = pd.read_csv("train.csv")
#     csv=okay.values.tolist()
#     num = 0
  
#     for i in csv:
#         ins=table_definition.table_define.insert().values(
#         id=i[num],x=i[num],y1=i[num],y2=i[],y3=i[4],y4 = i[5])
#         conn=engine.connect()
#         conn.execute(ins)
    
    #Create table
    metadata.create_all(engine)

    #Use mapper to define components of class as well as table definition together at once
    mapper(traing_Table,table_define_dummy,non_primary=True)

### create_table inherite from class of   traning_Table

In [7]:
#This function will create a separate table for each csv file, if you have multiple csv files
#Name of table will be extracted from file name. File name contains product name. 
#Each table will be identified by product name
# It will read each excel file in the folder and insert bom into table

def create_table(folder_of_files):
    def __init__(self):
        traning_Table.__init__(self)
    
    #Get list of files in folder
    files=glob.glob(os.path.join(folder_of_files,"*.csv"))
    
    
    #Loop through all files in list
    for file_name in files:
        
        #Read file into dataframe
        csv_data=pd.read_csv(file_name)
        
        #Convert dataframe to list and store in same variable
        csv_data=csv_data.values.tolist()
        
        #Get table name from file name. This will be our table name. 
        table_name_from_file=file_name.split('/')[8][:-4]
        
        #Use table_definition function to define table structure
        table_definition(table_name_from_file)
        
        #Loop through list of lists, each list in create_bom_table.xls_data is a row
        for row in csv_data:
            
            #Each element in the list is an attribute for the table class
            #Iterating through rows and inserting into table
            ins=table_definition.table_define.insert().values(
            id=row[0],x=row[1],y1=row[2],y2=row[3],y3=row[4],y4=row[5])
            conn=engine.connect()
            conn.execute(ins)

In [8]:
#Calling function, argument is path of folder where all CSV files are stored
create_table("path of folder where csv files are stored")

In [9]:
# SHOWING THE IDEAL FUNCTION FROM THE CSV FILE
ideal = pd.read_csv("ideal.csv")
ideal

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,-40.456474,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,-40.233820,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954
2,-19.8,-0.813674,0.581322,9.186326,5.581322,-9.186326,0.813674,-0.889191,0.612391,1.162644,...,-40.006836,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129
3,-19.7,-0.751573,0.659649,9.248426,5.659649,-9.248426,0.751573,-0.910947,-0.994669,1.319299,...,-39.775787,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840
4,-19.6,-0.681964,0.731386,9.318036,5.731386,-9.318036,0.681964,-0.930426,0.774356,1.462772,...,-39.540980,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,19.5,0.605540,0.795815,10.605540,5.795815,-10.605540,-0.605540,-0.947580,-0.117020,1.591630,...,39.302770,-38.602093,2.970414,-0.012422,12.970414,5.273000,-5.273000,0.240949,0.605540,0.714434
396,19.6,0.681964,0.731386,10.681964,5.731386,-10.681964,-0.681964,-0.930426,0.774356,1.462772,...,39.540980,-38.834310,2.975530,-0.012438,12.975530,5.278115,-5.278115,0.249389,0.681964,0.667902
397,19.7,0.751573,0.659649,10.751574,5.659649,-10.751574,-0.751573,-0.910947,-0.994669,1.319299,...,39.775787,-39.070175,2.980619,-0.012453,12.980619,5.283204,-5.283204,0.247887,0.751573,0.612840
398,19.8,0.813674,0.581322,10.813674,5.581322,-10.813674,-0.813674,-0.889191,0.612391,1.162644,...,40.006836,-39.309338,2.985682,-0.012469,12.985682,5.288267,-5.288267,0.236503,0.813674,0.549129
399,19.9,0.867644,0.497186,10.867644,5.497186,-10.867644,-0.867644,-0.865213,0.168518,0.994372,...,40.233820,-39.551407,2.990720,-0.012484,12.990720,5.293305,-5.293305,0.215690,0.867644,0.476954

In [10]:
ideal1 =ideal.drop("x", axis = 1)
ideal1= ideal1.std()

# The training data's database table

In [11]:
train =pd.read_csv("train.csv")
train

        x        y1         y2         y3         y4
0   -20.0  3.288936  13.366332 -400.07570  410.25223
1   -19.9  3.193142  12.683466 -395.83707  406.43620
2   -19.8  3.046859  12.790983 -392.46050  401.85062
3   -19.7  2.483111  13.060808 -388.00310  398.09827
4   -19.6  2.652910  13.048224 -384.45114  393.97708
..    ...       ...        ...        ...        ...
395  19.5  3.246718  -7.207382 -380.55972  390.19010
396  19.6  2.696288  -6.957885 -383.72113  394.23572
397  19.7  3.392218  -6.674877 -388.40677  398.06790
398  19.8  2.789434  -7.127886 -391.83830  402.41388
399  19.9  2.585707  -7.365264 -396.32886  405.58572

[400 rows x 5 columns]

# Data visualization with Bokeh for the traing dataset

In [12]:
from bokeh.plotting import figure, show
import bokeh
# bokeh inline

# prepare some data
x = train["x"]
y1 = train["y1"]
y2 = train["y2"]
y3 = train["y3"]
y4 = train["y4"]

# create a new plot with a title and axis labels
p = figure(title="Multiple line for the training table", x_axis_label="x column", y_axis_label="y columns")

# add multiple renderers
p.line(x, y1, legend_label="y1", color="blue", line_width=2)
p.line(x, y2, legend_label="y2", color="red", line_width=2)
p.line(x, y3, legend_label="y3", color="green", line_width=2)
p.line(x, y4, legend_label="y4", color="yellow", line_width=2)


# show the results
show(p)

# The database table of the test-data, with mapping and y-deviation

In [13]:
test = pd.read_csv("test.csv")
test["Delta Y (test func)"] =train["y1"][0:101] 
test["No.of ideal func"]= ideal1[0:101][1]
test.to_csv("databasetable")
database  = pd.read_csv("databasetable")
database.head()

   Unnamed: 0     x           y  Delta Y (test func)  No.of ideal func
0           0 -19.3 -310.855650             3.288936          0.713074
1           1 -17.2    3.990390             3.193142          0.713074
2           2  14.3    1.894857             3.046859          0.713074
3           3  11.3    1.186268             2.483111          0.713074
4           4  -7.0    3.325579             2.652910          0.713074

# Data visualization with Bokeh for the database table of the test-data, with mapping and y-deviation

In [ ]:
# Top import bokeh you will have to install it on your local laptop

In [14]:
from bokeh.plotting import figure, show
import bokeh
# bokeh inline

# prepare some data
x = database["x"]
y = database["y"]
y2 = database["Delta Y (test func)"]
y3 = database["No.of ideal func"]


# create a new plot with a title and axis labels
db_table = figure(title="Multiple line for the training table", x_axis_label="x column", y_axis_label="y columns")

# add multiple renderers
db_table.line(x, y, legend_label="y", color="blue", line_width=2)
db_table.line(x, y2, legend_label="Delta Y (test func)", color="red", line_width=2)
db_table.line(x, y3, legend_label="No.of ideal func", color="green", line_width=2)



# show the results
show(db_table)

# 1.3 Additional Task

# The git command to clone the branch 
git clone the link of the repo

# all necessary Git-commands to introduce this project to the team’s develop Branch

# CREATE
git init
# FROM EXISTING REPOSITORY YOU CAN USE THE TWO BELOW 
git clone ~/old ~/new
git clone git://... or ssh://...
# AFTER THE REPO IS ON YOUR LOCAL PC AND AFTER MAKING CHANGES
git add .
git commit -m "the messages to pass "
git formt -patch origin 
git puh remote